<div id="waline"></div>
<link rel="stylesheet" href="https://unpkg.com/@waline/client@v3/dist/waline.css" />
<script type="module">
  import { init } from 'https://unpkg.com/@waline/client@v3/dist/waline.js';

  init({
    el: '#waline',
    serverURL: '{{ .Site.Params.walineServer | default "https://your-waline-url.vercel.app" }}',
    placeholder: '快来评论吧~',
    emoji: [
      '//unpkg.com/@waline/client@v3/dist/emoji/qq.tar.gz',
      '//unpkg.com/@waline/client@v3/dist/emoji/bilibili.tar.gz',
    ],
  });
</script>
